.main {
  margin: 0;
  background-color: #131313;
  min-width: 980px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  padding: 0 150px;
}

.title {
  display: flex;
  padding: 0;
  color: white;
  justify-content: space-between;
}

.title div {
  display: flex;
  margin: 0;
}

.title p {
  margin: 0;
  font-size: 12px;
}

.pokemonApi {
  display: block;
  width: 100px;
  height: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 7px;
  border: 1px white solid;
}

.clickPokemon {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 10px;
  height: 30px;
}

.clickPokemon div {
  height: 24px;
}

.clickPokemon p {
  margin: 0 auto;
  font-weight: 600;
  line-height: 12px;
}

.chipsgroup span {
  pointer-events: none;
}

.chipsContainer {
  display: flex;
  height: 500px;
  gap: 12px;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.chips {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  gap: 10px;
  align-self: center;
}

.chips div {
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 44px;
}

.pokemonContainer {
  height: 412px;
  width: 45%;
  background-color: #000000;
  color: white;
  padding: 44px;
}

.pokemonContainer h1 {
  font-size: 48px;
  color: #A0A0A0;
  margin: 0;
}

.pokemonContainer p {
  font-size: 17px;
  color: #A0A0A0;
}

.pokemonContainer a {
  text-decoration: none;
  color: #A0A0A0;
}
